* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: plum;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}