* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: rgb(75, 0, 75);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
}

header a{
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* ABOUT ME */
.about-pic {
    display: flex;
    justify-content: center;
    width: 75%;
    }

.about-bio {
    padding: 25px;
    line-height: 1.25;
    text-align: left;
}

article h2 {
    text-align: center;
}

.about-me {
    display: flex;
    justify-content: center;
    padding: 25px;
    
}

/* work */
.projects img {
    width: 100%;
    border: 2.5px solid rgb(75, 0, 75);;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 3vw;
    font-weight: bold;
    color: rgb(75, 0, 75);
}
.runbuddy {
    margin: 25px;
}

/* footer */
footer a img {
    width: 10%;
    text-align: center;
}

footer h2 {
    text-align: center;
}

footer div {
    display: flex;
    justify-content: center;
    padding: 15px;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        /* this will be applied on any screen smaller than 980px */
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .about-pic {
        display: flex;
        flex-wrap: wrap;
        }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header h1 {
        /* this will be applied to any screen smaller than 575px */
        font-size: 100px;
    }

}