* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: rgb(75, 0, 75);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    margin: 0;
}

header a{
    text-decoration: none;
    color: white;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 50px;
    font-weight:350;
    font-size: 1.55vw;
}

/* ABOUT ME */
/* work */
.about-me h2 {
    text-align: center;
    font-size: 3vw;
    padding: 50px 0 20px 0;
    color: rgb(75, 0, 75);
    }

.about-pic {
    display: flex;
    justify-content: center;
    padding: 25px;
}

#aboutMePic {
    border: 5px solid rgb(75, 0, 75);
    padding: 10px;
    border-radius: 100px;
    /*object-position: 300px 0;*/
}

.about-bio {
    padding: 170px 200px 0 50px;
    line-height: 1.25;
    text-align: left;
    font-size: 1.5vw;
}

/* work */
.projects img {
    width: 100%;
    border: 2.5px solid rgb(75, 0, 75);;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.projects a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 3vw;
    font-weight: bold;
    color: rgb(75, 0, 75);
}
.runbuddy, .horiseon, .bakery, .sky-space {
    margin: 25px;
}

/* footer */

.footerimg {
    inline-size: 100px;
    margin: 5px;
}
#one {
    object-position: 0 -8px;
}

footer h2 {
    text-align: center;
    font-size: 3vw;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content:flex-end;
    margin-right: 25px;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        /* this will be applied on any screen smaller than 980px */
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    /*footer*/
    .flex-container {
       flex: 0 25%;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    .about-pic {
        display: flex;
        flex-wrap: wrap;
        }

         /*footer*/
    .flex-container {
        flex: 0 50%;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header h1 {
        /* this will be applied to any screen smaller than 575px */
        font-size: 100px;
    }

     /*footer*/
     .flex-container {
        flex: 0 100%;
    }

    header h1 {
      line-height: 90px;
    }

    header nav ul li a {
        padding: 10px 10px;
    }

}